MONGO_URI=mongodb://localhost:27017/Auth

JWT_SECRET=IUB817GRU87ty15ty1ntnyTTYTYWEVVYVEFJ881rRGEG
JWT_EXPIRE=7d
COOKIE_EXPIRE=5

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=jhondoe@gmail.com
SMTP_PASSWORD=password123

PORT=4000
NODE_ENV=development